.timeline-row {
  display: flex;
}

.timeline-item-wrapper {
  display: block;
  height: 44px;
}

.timeline-item {
  display: block;
  background-color: lightgreen;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 6px
}

.timeline-ruler-container {
  display: flex;
}

.timeline-ruler-item {
  display: flex;
  flex-shrink: 0;
  height: 44px;
  border-right: 1px dotted lightslategray;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  margin-bottom: 6px;
  box-sizing: border-box;
}

.timeline-empty-days {
  flex-shrink: 0;
}
